.navigation__burger-button {
  width: 44px;
  height: 44px;
  display: none;
  position: relative;
  border: none;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
}

.navigation__burger-line {
  transition: transform 0.8s, opacity 0.5s, background-color 0.5s;
  width: 28px;
  height: 3px;
  position: absolute;
  background-color: #ffffff;
  left: 5px;
}

.navigation__burger-line:nth-child(3) {
  transform: translateY(10px);
}

.navigation__burger-line:nth-child(1) {
  transform: translateY(-10px);
}

@media screen and (max-width: 890px) {
  .navigation__burger-button {
    z-index: 2;
    display: block;
  }

  .navigation.navigation_opened .navigation__burger-button {
    right: 30px;
    top: 18px;
    position: fixed;
  }

  .navigation.navigation_opened .navigation__burger-line:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }

  .navigation.navigation_opened .navigation__burger-line:nth-child(2) {
    opacity: 0;
  }

  .navigation.navigation_opened .navigation__burger-line:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }
}

@media screen and (max-width: 890px) {
  .navigation__burger-line {
    width: 22px;
  }
  .navigation.navigation_opened .navigation__burger-button {
    right: 14px;
    top: 15px;
  }
}

@media screen and (max-width: 550px) {
  .navigation__burger-button {
    width: 40px;
    height: 43px;
  }
}
