.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 70px 18px;
  min-height: 44px;
}

.navigation_grey {
  background: #202020;
}

.navigation__logo {
  width: 38px;
  height: 38px;
}

.navigation__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__authform-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navigation__link {
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  transition: 0.5s;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__button-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 20px;
  border-radius: 3px;
  background: #2be080;
  color: #000000;
}

.navigation__profile-button {
  margin-left: 17px;
  padding: 8px 7.25px;
  border-radius: 4px;
  width: 100px;
  height: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background-color: #313131;
  color: #ffffff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.navigation__profile-button:hover {
  opacity: 0.7;
}

.navigation__movies-container {
  display: flex;
  justify-content: start;
  gap: 16px;
  width: 275px;
  padding-left: 44px;
  flex: 1;
}

.navigation__movie-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.navigation__movie-link:hover {
  opacity: 0.7;
}

.navigation__movie-link_active {
  font-weight: 500;
}

.navigation__home-link {
  display: none;
}

.navigation__profile-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
}

@media screen and (max-width: 890px) {
  .navigation {
    padding: 18px 30px 0;
  }

  .navigation_wrapper_opened {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .navigation__container {
    position: fixed;
    visibility: hidden;
    flex-direction: column;
    background-color: #202020;
    width: 520px;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
    padding: 159px 0 92px;
  }

  .navigation__movies-container {
    flex: 0;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    padding: 0;
  }

  .navigation__movie-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 4px;
  }

  .navigation__movie-link_active {
    border-bottom: 2px solid #ffffff;
  }

  .navigation__home-link {
    display: block;
  }

  .navigation.navigation_opened .navigation__container {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 550px) {
  .navigation {
    padding: 15px 14px 0;
  }

  .navigation__link {
    font-size: 10px;
    line-height: 16px;
  }

  .navigation__button-link {
    padding: 5px 12px;
  }

  .navigation__authform-container {
    gap: 14px;
  }

  .navigation__container {
    width: 320px;
  }
}

@media screen and (max-width: 320px) {
  .navigation {
    padding: 18px 14px 0;
  }
}
