.authform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.authform__container {
  width: 396px;
  padding: 70px 0 70px;
}

.authform__title {
  margin: 40px 0 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.authform__logo {
  width: 38px;
  height: 38px;
}

.authform__form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  min-height: 266px;
}

.authform__input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 24px;
}

.authform__input-container:last-of-type {
  margin-bottom: 0px;
}

.authform__span {
  color: #8b8b8b;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.authform__input {
  border: 0;
  font-size: 14px;
  background: #202020;
  color: white;
  border-bottom: 1px solid #424242;
  margin: 0;
  padding: 0 0 10px 0;
  outline: 0;
  outline-offset: 0;
}

.authform__input:focus {
  border-bottom: 1px solid #4285f4;
}

.authform__button-submit {
  width: 100%;
  height: 45px;
  margin-top: 69px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background-color: #4285f4;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
}

.authform__button-submit:hover {
  opacity: 0.7;
}

.authform__link-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 6px;
}

.authform__link {
  color: #4285f4;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
}

.authform__link-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
  margin: 0;
}

.authform__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 890px) {
  .authform__container {
    padding: 232px 0;
  }
}

@media screen and (max-width: 550px) {
  .authform__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 0 30px;
  }

  .authform__title {
    text-align: center;
  }

  .authform__button-submit {
    margin-top: 157px;
    font-size: 12px;
    line-height: 15px;
    width: 260px;
  }

  .authform__form {
    width: 260px;
    margin-top: 80px;
  }

  .authform__link {
    font-size: 12px;
    line-height: 15px;
  }

  .authform__link-text {
    font-size: 12px;
    line-height: 15px;
  }
}
